#ri, #ri td,th{
	border:2px solid;
}

#ri td{
	padding-left: 4px;
	padding-right: 4px;
}

#ri td:first-child {
	width:250px;
}

/*#ri td:nth-child(2) {
	width:220px;
}*/

body {
	margin-bottom: 100px;
}